<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <input @input="search" v-model="searchName" placeholder="查找" />
        <ul>
            <li v-for="item in filterPersons" :key="item.id">
                {{item.name}}--{{item.age}}--{{item.sex}}
            </li>
        </ul>

    </div>
</body>
<script>
    /**
     * 实现一个列表的模糊搜索
     * 1：布局:
     *      input,ul,li
     * 2：标题
     * 3：input框
     *      功能：输入进行搜索
     *              双向绑定，事件绑定，防抖
     * 4：列表渲染
     *      数据：v-for渲染，
     * 5：模糊搜索
     * 6：防抖
     * 7：边界情况：输入空串，空格，特殊等情况时候列表怎么展示
     * ***/

    Vue.config.productionTip = false;
    const vm = new Vue({
        data() {
            return {
                searchName: '',
                persons: [
                    { id: '001', name: "张三", age: 18, sex: "男" },
                    { id: '002', name: "李四", age: 19, sex: "男" },
                    { id: '003', name: "王五", age: 20, sex: "男" }
                ],
                car: {
                    name: '奥迪A8',
                    proce: '70万',
                    color: '黑色'
                },
                filterPersons: []
            }

        },
        methods: {
            search() {
                this.filterPersons = this.persons.filter((ele) => {
                    return ele.name.includes(this.searchName)
                })
            },
        },
        created() {
            this.search()
        },
    })
    vm.$mount('#app')

</script>

</html>