<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <div>姓：<input type="text" v-model="firstName"></div>
        <div>名：<input type="text" v-model="lastName"></div>
        <div>全名：<input type="text" v-model="fullName" @input="change"></div>
        <div>{{handlefullName()}}</div>

        <div>姓：<input type="text" v-model="firstName"></div>
        <div>名：<input type="text" v-model="lastName"></div>
        <div>全名：<input type="text" v-model="fullName" @input="change"></div>
        <div>{{handlefullName()}}</div>

        <div>姓：<input type="text" v-model="firstName"></div>
        <div>名：<input type="text" v-model="lastName"></div>
        <div>全名：<input type="text" v-model="fullName" @input="change"></div>
        <div>{{handlefullName()}}</div>
    </div>
</body>
<script>
    // new Vue({
    //     el: "#app",
    //     data: {
    //         firstName: "宋",
    //         lastName: "奇",
    //         fullName: ''
    //     },
    //     methods: {
    //         handlefullName() {
    //             this.fullName = this.firstName + '-' + this.lastName;
    //         },
    //         change(){
    //             let arr=this.fullName.split('-')
    //             this.firstName=arr[0]
    //             this.lastName=arr[1]
    //         }
    //     }
    // })

    // new Vue({
    //     el: "#app",
    //     data: {
    //         firstName: "宋",
    //         lastName: "奇",
    //         fullName: ''
    //     },
    //     methods: {
    //         handlefullName() {
    //             this.fullName = this.firstName + '-' + this.lastName;
    //         },
    //         change(){
    //             let arr=this.fullName.split('-')
    //             this.firstName=arr[0]
    //             this.lastName=arr[1]
    //         }
    //     }
    // })

    new Vue({
        el: "#app",
        data: {
            firstName: "宋",
            lastName: "奇",
            fullName: ''
        },
        methods: {
            handlefullName() {
                this.fullName = this.firstName + '-' + this.lastName;
            },
            change(){
                let arr=this.fullName.split('-')
                this.firstName=arr[0]
                this.lastName=arr[1]
            }
        }
    })
</script>

</html>